<?xml version="1.0" encoding="UTF-8"?>
<configuration>
   <property name="HOME_LOG" value="./log/user.log"/>
   <appender name="FILE-ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
       <file>${HOME_LOG}</file>
       <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
           <fileNamePattern>./log/archived/user-service.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
           <!-- each archived file, size max 10MB -->
           <maxFileSize>10MB</maxFileSize>
           <!-- total size of all archive files, if total size > 1GB,
				it will delete old archived file -->
           <totalSizeCap>1GB</totalSizeCap>
           <!-- 60 days to keep -->
           <maxHistory>60</maxHistory>
       </rollingPolicy>
     <encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
   </appender>
  
   <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>
<!-- 
   <logger name="com.wipro" level="info" additivity="false">
       <appender-ref ref="FILE-ROLLING"/>
   </logger>
   -->
 	<root level="INFO">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE-ROLLING" />
	</root>
</configuration>